body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

form {
  display: flex;
  justify-content: space-between;
  border: 2px solid black;
  height: 200px;
  width: 80%;
  flex-direction: column;
  align-items: left;
  padding: 1rem;
  font-size: 3rem;
}

input, ul {
  font-size: 1rem;
}

div {
  padding: 10%;
  justify-content: center;
}

